# --- USER CONFIG --- #
# ARK server options - use ark_<optionname>=<value>
# comment out these values if you want to define them
# inside your GameUserSettings.ini file
arkstChannel=${BRANCH}                                              # change it to a different branch to get non-stable versions
arkserverroot="${ARK_SERVER_VOLUME}/server"                         # path of your ARK server files (default ~/ARK)
serverMap=${SERVER_MAP3}                                            # server map (default TheIsland)
#serverMapModId="469987622"                                         # Uncomment this to specify the Map Mod Id (<fileid> in http://steamcommunity.com/sharedfiles/filedetails/?id=<fileid>)
#ark_TotalConversionMod="496735411"                                 # Uncomment this to specify a total-conversion mod
ark_SessionName=${SESSION_NAME}_${SERVER_MAP3}                      # if your session name needs special characters please use the .ini instead
# ark_bRawSockets=""                                                # Uncomment if you want to use ark raw socket (instead of steam p2p) [Not recommended]
arkflag_log=""

# Port config
ark_Port=${GAME_CLIENT_PORT_MAP3}
ark_QueryPort=${SERVER_LIST_PORT_MAP3}
ark_RCONPort="${RCON_PORT_MAP3}"

# ----- Mods ----- #
ark_GameModIds=${GAME_MOD_IDS}                     # Uncomment to specify additional mods by Mod Id separated by commas
# Add mod-specific OS selection below:
#mod_branch_496735411=Windows
# ----------------#

# ARK server flags - use arkflag_<optionname>=true
#arkflag_OnlyAdminRejoinAsSpectator=true                            # Uncomment to only allow admins to rejoin as spectator
#arkflag_DisableDeathSpectator=true                                 # Uncomment to disable players from becoming spectators when they die

# ARK server options - i.e. for -optname=val, use arkopt_optname=val
#arkopt_StructureDestructionTag=DestroySwampSnowStructures

ark_AltSaveDirectoryName=SavedArks-${SERVER_MAP3}                   # Uncomment to specify a different save directory name